body {
    /*color de fondo*/ /*background-color:*/
    /*background: linear-gradient(#86E7B8, #437C90);*/
    font-family: "Nunito", sans-serif;
    background: url(https://static.vecteezy.com/system/resources/previews/006/427/432/non_2x/hand-painted-watercolor-sky-and-clouds-abstract-watercolor-background-with-golden-texture-blue-fluid-painting-spring-wedding-invitation-vector.jpg);
    background-repeat: no-repeat;

}
h3,h4 { 
    /*Color de texto:*/
    color:rgb(4, 178, 241); font-family: "Noto Sans", sans-serif;
}
        #banner     {
            width: 300px;
    }
    /*Cambiar anchura de imagen particular en html, asignamos una clase (class) y esa la "llamamos" en el css con un (.) antes del */

    /*Editar div del menú*/
    .menu {
        background-color: rgb(130, 247, 249);
        /*Div flexible para moverse con los elementos*/
        display: flex;
        /*En columna reverse o general*/
        flex-direction: column;
        /*Alinea items de forma centrada*/
        align-items: center;
    }

    a   {
        color:black; text-decoration: none;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 8px;
        margin-bottom: 5px;
    }

    a:hover {
        background-color: beige;
        color:bisque
    }